---
import HeroMovie from "@/components/HeroMovie.astro";
import Layout from "../layouts/Layout.astro";
import PhimBoSection from "@/components/ui/sections/PhimBoSection.astro";
import PhimLeSection from "@/components/ui/sections/PhimLeSection.astro";
import TvShowsSection from "@/components/ui/sections/TvShowsSection.astro";
import HoatHinhSection from "@/components/ui/sections/HoatHinhSection.astro";
---

<Layout title="AstroFlim Prime">
    <main class="text-white">
        <!-- Hero Movie Section -->
        <HeroMovie />

        <!-- Comprehensive Movie List Sections -->
        <div class="mx-auto flex w-full flex-col gap-16 px-12 pb-28">
            <PhimBoSection />
            <PhimLeSection />
            <TvShowsSection />
            <HoatHinhSection />
        </div>
    </main>
</Layout>
